<!-- app.component.html -->
<div class="app-shell">
  <!-- LEFT: Sidebar -->
  <aside class="sidebar" aria-label="Primary">
    <div class="brand">
    <div class="brand__logo">
      <a href="assets/images/innovalogo.png" target="_blank">
        <img src="assets/images/innovalogo.png" alt="Brand Logo" />
      </a>
    </div>
      <div class="brand__title">CCA</div>
    </div>

    <nav class="nav">
      <!-- <a routerLink="dashboard" routerLinkActive="is-active" class="nav__item">
        <span class="nav__icon">🏠</span>
        <span class="nav__label">Dashboard</span>
        <span class="nav__badge">3</span>
      </a> -->

       <a routerLink="vehicles-dashboard" routerLinkActive="is-active" class="nav__item">
        <span class="nav__icon">🚗</span>
        <span class="nav__label">Vehicles</span>
      </a>

      <a routerLink="copilot" routerLinkActive="is-active" class="nav__item">
        <span class="nav__icon">🤖</span>
        <span class="nav__label">AI Copilot</span>
      </a>

      <div class="nav__section">Service</div>
        <a routerLink="warranty" routerLinkActive="is-active" class="nav__item">
          <span class="nav__icon">🛡️</span><span class="nav__label">Warranty</span>
        </a>
        <a routerLink="scheduling" routerLinkActive="is-active" class="nav__item">
          <span class="nav__icon">🗓️</span><span class="nav__label">Scheduling</span>
        </a>
        <a routerLink="insurance" routerLinkActive="is-active" class="nav__item">
          <span class="nav__icon">☂️</span><span class="nav__label">Insurance</span>
        </a>

      <!-- <div class="nav__section">Settings</div>
        <a routerLink="/settings" routerLinkActive="is-active" class="nav__item">
          <span class="nav__icon">⚙️</span><span class="nav__label">Settings</span>
        </a> -->
    </nav>

    <div class="sidebar__footer">
      <!-- <div class="sys-pill"><span class="dot"></span>All Systems Operational</div> -->
      <div class="user">
        <div class="user__avatar">AK</div>
        <div class="user__name">Amresh</div>

         <!-- Logout Button -->
      <button class="logout-btn" (click)="logout()">
        ➜]
      </button>
      </div>
      
       
    </div>
  </aside>

  <!-- RIGHT: Main canvas (scrolls) -->
  <main class="main" role="main">
    <router-outlet></router-outlet>
  </main>
</div>
